.remove-btn {
    background-color: var(--base-color);
    color: var(--primary-color-variant);
    font-size: 1rem;
    border-radius: 15px;
    border: none;
    padding: 1rem 2rem;
    margin: 2rem 0 1rem;
    // border: solid 1px var(--primary-color-variant)
}